# CocoaPods
#
# We recommend against adding the Pods directory to your .gitignore. However
# you should judge for yourself, the pros and cons are mentioned at:
# http://guides.cocoapods.org/using/using-cocoapods.html#should-i-ignore-the-pods-directory-in-source-control?
#
# Pods/


iMealModel/iMealModel.xcodeproj/xcuserdata/sagles.xcuserdatad/xcschemes/xcschememanagement.plist

iMeal.xcodeproj/xcuserdata/sagles.xcuserdatad/xcschemes/xcschememanagement.plist

iMeal.xcworkspace/xcuserdata/sagles.xcuserdatad/UserInterfaceState.xcuserstate

*.xcscheme

Pods/Pods.xcodeproj/xcuserdata/sagles.xcuserdatad/xcschemes/xcschememanagement.plist
